.slider-basket {
	margin-top: 20px;

	* {
		box-sizing: border-box !important;
	}

	&__title {
		margin-bottom: 10px;
		font-size: 16px;
		color: #232833;
	}

	&__wrapper {
		position: relative;
		padding: 0 35px;
	}

	&__slide {
		display: none;

		&:first-child {
			display: block;
		}
	}

	&__prev,
	&__next {
		position: absolute;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
		width: 2.2em;
		height: 2.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border: 0;
		box-shadow: 0 2px 5px rgba(#000, 0.2);
		border-radius: 50%;
		font-size: 16px;
		cursor: pointer;
		opacity: 0.9;

		&.slick-disabled {
			opacity: 0;
		}
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}

	&__group {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__item {
		flex: 0 0 auto;
		width: 50%;
		padding: 10px 10px;
		display: flex;
	}

	&__image {
		flex: 0 0 auto;
		width: 45px;
		height: 45px;
	}

	&__desc {
		flex: 0 0 auto;
		width: calc(100% - 45px);
		padding-left: 15px;
		display: flex;
		flex-direction: column;
	}

	&__name {
		margin-bottom: auto;
		font-size: 13px;

		a {
			color: inherit;
		}
	}

	&__ctrl {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slick-slide {
		display: block !important;
	}

	.stepper {
		margin-left: 0 !important;
	}
}
