.slider-basket {
  margin-top: 20px; }
  .slider-basket > * {
    box-sizing: border-box !important; }
  .slider-basket__title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #232833; }
  .slider-basket__wrapper {
    position: relative;
    padding: 0 30px; }
  .slider-basket__item {
    width: 50%; }
    .slider-basket__item:nth-child(-n + 2) {
      display: none; }
    .slider-basket__item .basket-recommendation__item {
      width: auto; }
  .slider-basket__prev, .slider-basket__next {
    position: absolute;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.9; }
    .slider-basket__prev.slick-disabled, .slider-basket__next.slick-disabled {
      opacity: 0; }
  .slider-basket__prev {
    left: 0; }
  .slider-basket__next {
    right: 0; }
  .slider-basket .slick-slide {
    display: block !important; }

.header__bottom-cart {
  cursor: default; }
